<div class='pt-5 d-flex align-items-center flex-column'>
  <h4>Add your comment <%= %> </h4>
  <%= form_with model: @comment, url: user_post_comments_path do |form| %>
    <div class='mb-3'>
      <%= form.text_area :text, size:"50x3",placeholder: 'Like: great read', class:'form-control'%>
    </div>
    <%= form.submit "Submit", class:'btn btn-dark' %>
    <%= link_to "Cancel", user_post_path(user_id: @current_user.id, id: @current_post.id), class:"btn btn-default btn-outline-dark" %>
  <% end %>
</div>
