<%# Renders a user detail %>
<article class='post'>
    <%= link_to user_post_path(user_id: post.author_id, id: post.id) do  %>
        <div class="body">
            <b><%= post.title %></b>
            <p><%= "#{post.text[0..157]}#{' ...' if post.text.length() > 157}" %></p>
            <div class="counter">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></div>
        </div>
    <% end %>
</article>
<article class='comment'>
    <%= render "posts/shared/comments", comments: post.latest_comments %>
</article>